<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      .box {
        padding: 100px 0px;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <!-- <h1>Hello world!</h1> -->
    <div id="app">
      <h1>{{title}}</h1>
      <h2>Release Date: {{date}}</h2>
      <h3>Author: {{author}}</h3>
      <h3>Age: {{age}}</h3>
      <button v-on:click="age++">Increase Age</button>
      <button @click="age--">Decrease Age</button>
      <button @click="changeTitle">Toggle Title</button>

      <br />
      <br />
      <!-- Break Position: https://youtu.be/CYPZBK8zUik?t=871 -->
      <!--Working with Lists-->
      <div v-if="showBooks">
        <ul>
          <li v-for="book in books">
            <h3>{{book.title}}</h3>
            <p>{{book.author}}</p>
          </li>
        </ul>
      </div>
      <p v-show="!showBooks">Books are Hidden</p>
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
      </button>

      <br />
      <br />
      <!--Mouse events-->
      <div class="box" @mouseover="handleEvent">mouseover (enter)</div>
      <div class="box" @mouseleave="handleEvent">mouseleave (exit)</div>
      <div class="box" @dbclick="handleEvent">dbclick</div>
      <div class="box" @mousemove="handleMouseMove">Position: {{x}},{{y}}</div>
    </div>

    <script src="./app.js"></script>
  </body>
</html>
